<div class="fieldsets">
    <fieldset>
        <legend>Logged in successfully!</legend>
        <p>Welcome!</p>
        <p>Client: <b><%= @client_name %></b></p>
        <p>logged as: <b><%= session[:client_login] %></b></p>
    </fieldset>
    <br/><br/>
</div>