<!-- Form: Add role -->
<%= error_messages_for 'role' %>
<div class="fieldsets">
    <fieldset>
        <legend>New role</legend>

    <% form_tag({:action => 'create'}) do %>
    <%= render :partial => 'form' %>
    <p><%= submit_tag "Create" %></p>
    <% end %>

    </fieldset>
</div>
<%= back_link %>
<!-- End of form -->
