<!-- Form: Filter activities by date -->
<fieldset>
  <legend>Calendar view</legend>
  <%= render :partial => '/activities/calendar_without_unselect' %>
</fieldset>

<% if @current_user && @current_user.is_admin? %>
  <%= render :partial => 'user_selection' %>
<% end %>

<br/><br/>

<%= activity_calendar session[:year], session[:month] %>
