<p id="graph">
  <object type="application/x-shockwave-flash" width="600" height="480"
      data="/charts.swf?library_path=../charts_library&amp;xml_source=<%= data_url %>">
    <param name="movie" value="/charts.swf?library_path=../charts_library&amp;xml_source=<%= data_url %>" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#32541f" />
    Please install flash plug-in for your browser
  </object>
</p>
