<!-- Form: Edit activity -->
<%= error_messages_for 'activity' %>

<div class="fieldsets">
  <fieldset>
    <legend>Edit activity</legend>

    <% form_tag :action => 'update_activity', :id => @activity do %>
      <%= render_partial 'activities_form' %>
      <p><%= submit_tag 'Save' %></p>
    <% end %>
  </fieldset>

  <p>
    <%= link_to 'Show', :action => 'show_activity', :id => @activity %>  |
    <%= back_link(nil) %>
  </p>
</div>
<!-- End of form -->
