MAIL_FROM = "user@llp.pl"
ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.smtp_settings  = { 
  :address => "smtp.gmail.com",
  :port => 587,
  :domain => "llp.pl",
  :user_name => "user@llp.pl",
  :password => "pass", 
  :authentication => :plain
}
