
<!-- Form: Change password -->
<p>
	   <label for="user_password">Password:</label><br/>
	   <%= password_field 'user', 'password', :size => 32, :value => ""  %>
</p>

<p>
	   <label for="user_password_confirmation">Confirm password:</label>
	   <br/>
	   <%= password_field 'user', 'password_confirmation', :size => 32, :value => ""  %>
</p>
<!-- End of form -->
