.fieldsets
  %fieldset
    %legend Password change
    %p 
      Welcome
      = @pass_change_user.name.to_s
    -form_tag ({:action => 'change_password',:code => params[:code]}) do
      %p 
        Enter new password: 
        %br
        =password_field("user","password",:size=>20)
      %p 
        Re-type password:
        %br
        =password_field("user","password2",:size=>20)

      %p
        %input{:type => "submit", :value => " Save "}