<br />
<fieldset>
  <legend>Select developer</legend>
  <% form_tag :action => controller.action_name do %>
    <table><tr>
      <td>Developer:</td>
      <td><%= select_tag 'user_id', options_from_collection_for_select(User.find(:all, :order => 'name'),
              :id, :name, @calendar_user_id) %></td>
      <td><%= submit_tag 'Show' %></td>
    </tr></table>
  <% end %>
</fieldset>
