<!-- Form: Edit user -->
<%= error_messages_for 'role' %>
<div class="fieldsets">
    <fieldset>
        <legend>Edit role</legend>

        <% form_tag({:action => 'update', :id => @role}) do %>
        <%= render :partial => 'form' %>
        <p><%= submit_tag 'Save' %></p>
        <% end %>

    </fieldset>
</div>
<p><%= link_to 'Show', :action => 'show', :id => @role %> | <%= back_link(nil) %></p>
<!-- End of form -->
