<!-- Form: Add project -->
<%= error_messages_for 'project' %>
<div class="fieldsets">
<fieldset>
        <legend>New project</legend>

        <%= start_form_tag :action => 'create' %>
        <%= render :partial => 'form' %>
        <p><%= submit_tag "Create" %></p>
        <%= end_form_tag %>
        
</fieldset>
</div>
<p><%= link_to 'Back', @request.env['HTTP_REFERER'] %></p>
<!-- End of form -->
